**PROJECT FOR DA**

In [45]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt

ticker = ['^NSEI','BAJAJFINSV.NS'] #Nifty 50 and HDFC
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2024, 12, 31)

data = {}
df = pd.DataFrame(data)
for i in ticker:
    data[i] = yf.download(i,start,end)['Close']

df = pd.concat(data,axis=1)
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  ^NSEI  BAJAJFINSV.NS
Date
2010-01-04  5232.200195      35.314632
2010-01-05  5277.899902      35.393230
2010-01-06  5281.799805      34.558136
2010-01-07  5263.100098      34.287960
2010-01-08  5244.750000      34.386208

In [ ]:
df.info()

**DATA CLEANING**

In [47]:
df.isna().any()

^NSEI             True
BAJAJFINSV.NS    False
dtype: bool

In [49]:
missing_values = df.dropna()
missing_values.isna().any()

^NSEI            False
BAJAJFINSV.NS    False
dtype: bool

In [51]:
# Checking for missing values in the dataset
missing_values = df.isnull().sum()

# Display missing values
missing_values.isna().any()

False

In [53]:
missing_values = df.dropna()
print("missing values:-\n",missing_values)
print("dataframe:-\n",df)

missing values:-
                    ^NSEI  BAJAJFINSV.NS
Date
2010-01-04   5232.200195      35.314632
2010-01-05   5277.899902      35.393230
2010-01-06   5281.799805      34.558136
2010-01-07   5263.100098      34.287960
2010-01-08   5244.750000      34.386208
...                  ...            ...
2024-11-29  24131.099609    1579.949951
2024-12-02  24276.050781    1596.650024
2024-12-03  24457.150391    1607.099976
2024-12-04  24467.449219    1628.099976
2024-12-05  24708.400391    1644.099976

[3663 rows x 2 columns]
dataframe:-
                    ^NSEI  BAJAJFINSV.NS
Date
2010-01-04   5232.200195      35.314632
2010-01-05   5277.899902      35.393230
2010-01-06   5281.799805      34.558136
2010-01-07   5263.100098      34.287960
2010-01-08   5244.750000      34.386208
...                  ...            ...
2024-11-29  24131.099609    1579.949951
2024-12-02  24276.050781    1596.650024
2024-12-03  24457.150391    1607.099976
2024-12-04  24467.449219    1628.099976
2024-12-05  24708.400391    1644.099976

[3683 rows x 2 columns]

**DESCRIPTIVE STATISTICS**

In [ ]:
missing_values.describe()

*MEDIAN*

In [ ]:
missing_values.median()

*MODE*

In [ ]:
missing_values.mode().iloc[0]

*CORRELATION*

In [ ]:
missing_values.corr()

*COVARIANCE*

In [ ]:
missing_values.cov

**SKEWNESS** AND **KURTOSIS**

In [ ]:
iskew = missing_values.skew()
ikurt = missing_values.kurt()

print ("SKEWNESS\n",iskew)
print("KURTOSIS\n",ikurt)


mean1= missing_values['^NSEI'].describe().loc[['mean']]
print("NSEI MEAN :-\n",mean1)
mean2= missing_values['BAJAJFINSV.NS'].describe().loc[['mean']]
print("BAJAJFINSV MEAN :-\n",mean2)
     
std1=missing_values['^NSEI'].describe().loc[['std']]
print("NSEI STD :-\n",std1)
std2=missing_values['BAJAJFINSV.NS'].describe().loc[['std']]
print("BAJAJFINSV STD :-\n",std2)
zscore1 = (missing_values['^NSEI'] - mean1) / std1
zscore2 = (missing_values['BAJAJFINSV.NS'] - mean2) / std2

**Z-SCORE CALCULATION***(OF THE ENTRE DATA)*

In [55]:
# Calculate mean and standard deviation for z-score
data1=missing_values['^NSEI'].iloc[-1]
data2=missing_values['BAJAJFINSV.NS'].iloc[-1]


mean1 = missing_values['^NSEI'].mean()
std1 = missing_values['^NSEI'].std()
mean2  = missing_values['BAJAJFINSV.NS'].mean()
std2 = missing_values['BAJAJFINSV.NS'].std()

#formula of z-score 
zscore1 = (data1 - mean1) / std1
zscore2 = (data2 - mean2) / std2
#print the z-score of the entire data
print("Z-Scores for ^NSEI:\n", zscore1)
print("Z-Scores for BAJAJFINSV.NS:\n", zscore2)

Z-Scores for ^NSEI:
 2.5625804423384926
Z-Scores for BAJAJFINSV.NS:
 1.7304966009340952

**Z-SCORE CALCULATION***(OF ANY RANDOM SAMPLE SELECTED FROM THE DATA)*

In [89]:
import random
# Randomly sample 5 indices
sample = random.sample(range(len(df)), 5)

# Fetch data for the selected samples
data1 = df['^NSEI'].iloc[sample]
data2 = df['BAJAJFINSV.NS'].iloc[sample]

# Calculate mean and standard deviation for z-score
mean1 = data1.mean()
std1 = data1.std()
mean2 = data2.mean()
std2 = data2.std()

zscore1 = (data1 - mean1) / std1
zscore2 = (data2 - mean2) / std2

print("Z-Scores for ^NSEI:\n", zscore1)
print("Z-Scores for BAJAJFINSV.NS.NS:\n", zscore2)

Z-Scores for ^NSEI:
 Date
2019-04-09   -0.323018
2010-12-09   -1.274578
2021-12-30    0.568368
2024-03-22    1.356758
2019-04-03   -0.327529
Name: ^NSEI, dtype: float64
Z-Scores for BAJAJFINSV.NS.NS:
 Date
2019-04-09   -0.313038
2010-12-09   -1.357868
2021-12-30    1.012309
2024-03-22    0.968265
2019-04-03   -0.309668
Name: BAJAJFINSV.NS, dtype: float64

In [83]:
import pandas as pd
import numpy as np

# Assuming zscore1 and zscore2 are already calculated
# Randomly select 5 z-scores along with their indices for both columns

zscore1_sample = zscore1.sample(n=5, random_state=70).reset_index()
zscore1_sample.columns = ['Index', '^NSEI Z-Score']

zscore2_sample = zscore2.sample(n=5, random_state=70).reset_index()
zscore2_sample.columns = ['Index', 'BAJAJFINSV.NS Z-Score']

# Merge the two samples on the 'Index' column
combined_zscores = pd.merge(zscore1_sample, zscore2_sample, on='Index', how='inner')

print("Combined Random 5 Z-Scores:\n", combined_zscores)

Combined Random 5 Z-Scores:
        Index  ^NSEI Z-Score  BAJAJFINSV.NS Z-Score
0 2024-07-19       1.633530               1.481123
1 2014-03-31      -0.867490              -0.920202
2 2017-11-23      -0.356173              -0.251906
3 2015-06-30      -0.633995              -0.805776
4 2021-04-26       0.224127               0.496760

**EXPLANATION**
=>pd.merge(): Combines two sets of data based on a common column ('Index').
=>on='Index': We match data based on the 'Index' column.
=>how='inner': Only rows with matching 'Index' values from both datasets are kept.

In [109]:
# Sample 5 random points from zscore1 and zscore2
zscore1_sample = zscore1.sample(n=5, random_state=70).reset_index(drop=True)
zscore1_sample.name = '^NSEI Z-Score'

zscore2_sample = zscore2.sample(n=5, random_state=70).reset_index(drop=True)
zscore2_sample.name = 'BAJAJFINSV.NS Z-Score'

# Combine the two z-scores into a DataFrame
combined_zscores = pd.DataFrame({
    '^NSEI Z-Score': zscore1_sample,
    'BAJAJFINSV.NS Z-Score': zscore2_sample
})

# Sort combined z-scores by one of the columns (e.g., by ^NSEI Z-Score)
combined_zscores = combined_zscores.sort_values(by='^NSEI Z-Score', ascending=False)

# Print sorted combined z-scores
print("Sorted Combined Z-Scores (by ^NSEI Z-Score)")
print(combined_zscores)

# Interpretation: Check if z-scores are within reasonable bounds (abs < 2 is normal)
print("Interpretation of Z-Scores:")
# Loop through each row in the sorted data
for _, row in combined_zscores.iterrows():
    interpretation = ""  # Initialize interpretation for each row

    # Interpret ^NSEI Z-Score
    if row['^NSEI Z-Score'] > 0:
        interpretation += " | ^NSEI Z-Score is greater than the mean"
    elif row['^NSEI Z-Score'] < 0:
        interpretation += " | ^NSEI Z-Score is less than the mean"
    else:
        interpretation += " | ^NSEI Z-Score is equal to the mean"

    # Interpret BAJAJFINSV.NS Z-Score
    if row['BAJAJFINSV.NS Z-Score'] > 0:
        interpretation += " | BAJAJFINSV.NS Z-Score is greater than the mean"
    elif row['BAJAJFINSV.NS Z-Score'] < 0:
        interpretation += " | BAJAJFINSV.NS Z-Score is less than the mean"
    else:
        interpretation += " | BAJAJFINSV.NS Z-Score is equal to the mean"

    # Print the interpretation for each row
    print(f"Interpretation: {interpretation}")

Sorted Combined Z-Scores (by ^NSEI Z-Score)
   ^NSEI Z-Score  BAJAJFINSV.NS Z-Score
2       1.356758               0.968265
4       0.568368               1.012309
3      -0.323018              -0.313038
0      -0.327529              -0.309668
1      -1.274578              -1.357868
Interpretation of Z-Scores:
Interpretation:  | ^NSEI Z-Score is greater than the mean | BAJAJFINSV.NS Z-Score is greater than the mean
Interpretation:  | ^NSEI Z-Score is greater than the mean | BAJAJFINSV.NS Z-Score is greater than the mean
Interpretation:  | ^NSEI Z-Score is less than the mean | BAJAJFINSV.NS Z-Score is less than the mean
Interpretation:  | ^NSEI Z-Score is less than the mean | BAJAJFINSV.NS Z-Score is less than the mean
Interpretation:  | ^NSEI Z-Score is less than the mean | BAJAJFINSV.NS Z-Score is less than the mean